@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light mode variables */
    --color-background: #ffffff;
    --color-foreground: #171717;
    --color-primary: #1da1f2;
    --color-secondary: #ff4081;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      /* Dark mode overrides */
      --color-background: #0a0a0a;
      --color-foreground: #ededed;
      --color-primary: #0d8ddb;
      --color-secondary: #f50057;
    }
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}
